---
//@ts-nocheck
import { isRenderTemplateResult } from "astro/runtime/server/render/astro/render-template.js";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Toggle from "../components/Toggle.astro";
import Footer from "../components/Footer.astro";
import Card2 from "../components/Card2.astro";

// her henter den hele tabellen fra subabase husk at man også kan filtere ved at skrive kategorien i url
const data = await fetch(
  "https://xofpzkvhohxvithnbcek.supabase.co/rest/v1/monten?",
  {
    //henter alt data i databasen
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhvZnB6a3Zob2h4dml0aG5iY2VrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMzOTQwMzIsImV4cCI6MjA0ODk3MDAzMn0.06AltBJ-YpusPcHP7x0zhs7VQ0Ew5bGvDLgECKwJIHU",
    },
  }
).then((res) => res.json());

console.log(data);

// her henter jeg den filterede data på baggrund af navnet det hedder type fordi det hedder vores kolonne
const filteredDataØl = data.filter((item) => item.type === "øl");

const filteredDataFadØl = data.filter((item) => item.type === "fadøl");

const filteredDataVin = data.filter((item) => item.type === "vin");

const filteredDataDrinks = data.filter((item) => item.type === "drink");

const filteredDataVarm = data.filter((item) => item.type === "varm");

const filteredDataMorgen = data.filter((item) => item.type === "morgen");

const filteredDataFrokost = data.filter((item) => item.type === "frokost");

const filteredDataKold = data.filter((item) => item.type === "kold");

---

<Layout>
  <Header />
  <div class="forside">
    <img
      src="../img/montvaskbrun.png"
      alt="tegning af montvask"
      id="forsidepic"
    />
  </div>
  <Toggle />
  <!-- her hentes alt
  
  <div>
    <h2>MORGENMAD (9-15:30)</h2>
    {data.map((item) => <Card2 data={item} />)}
  </div> -->
  <h1>CAFE MENU</h1>
  <section class="menu">
    
    <!-- Her henter vi alt på baggrund af  katetegori og får det vist i browseren-->
    <section class="light">
    <div class="cafe">
      <h2>Morgenmad</h2>
      {filteredDataMorgen.map((item) => <Card2 data={item} />)}
    </div>
    <div class="cafe">
      <h2>Frokost</h2>
      {filteredDataFrokost.map((item) => <Card2 data={item} />)}
    </div>
    <div class="grid_1-1">
    <div class="cafe">
      <h2>Varme drikke</h2>
      {filteredDataVarm.map((item) => <Card2 data={item} />)}
    </div>
    <div class="cafe">
      <h2>Kolde drikke</h2>
      {filteredDataKold.map((item) => <Card2 data={item} />)}
    </div>
  </div>
</section>
<section class="dark">
    <div class="bar">
      <h2>Vin</h2>
      {filteredDataVin.map((item) => <Card2 data={item} />)}
    </div>
    <div class="bar">
      <h2>Drinks</h2>
      {filteredDataDrinks.map((item) => <Card2 data={item} />)}
    </div>
    <div class="bar">
    <h2>Øl på fad</h2>
    {filteredDataFadØl.map((item) => <Card2 data={item} />)}
  </div>
  <div class="bar">
    <h2>Øl</h2>
    {filteredDataØl.map((item) => <Card2 data={item} />)}
  </div>
  <div class="happyhour">
    <h2>HAPPYHOUR</h2>
    <p> TORS - LØR KL 16 - 22</p>
    <p> 2x DRINKS / 2X TUBORG CLASSIC</p>
    <p> 99,-</p>
  </div>
</section>
</section>
</Layout>
<Footer />

<style>
  img {
    max-width: 55%;
    height: auto;
  }

  .forside {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 600px) {
    img {
      width: 50%;
    }
  }

  h1 {
    text-align: center;
    color: var(--sec-color);
    margin-top: 7%;
  }

  h2 {
    color: var(--sec-color);
    font-family: Orator Std;
    font-size: 20px;
  }

.menu{
  margin-right: 17%;
  margin-left: 17%;
}

.grid_1-1{
  display: flex;
  justify-content: space-between;
}

.happyhour{
  border: solid var(--sec-color);
  max-width: 700px;
  text-align: center;
  height: 120px;
  padding-top: 10px;

}

p{
  color: var(--sec-color);
}


</style>

<script>



</script>